name: Build AFF Lib
on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string
jobs:
  reusable_workflow_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: sshock/AFFLIBv3
          ref: v3.7.22
      - shell: bash
        run: ./bootstrap.sh && ./configure --prefix=$GITHUB_WORKSPACE/build
      - shell: bash
        run: make && make install
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: $GITHUB_WORKSPACE/build
          retention-days: 1
